
  main
{
				display:flex;
				justify-content:center;
				align-items:center;
}
html, body {
  height: 100%;
  width: 100%;
}
*{
  font-size:16px ;
font-family:'Poppins',sans-serif,serif;}

body{
max-width:1440px;
display:flex;
  font-weight:400;
  width:100%;
  /*line-height:1.7;*/
  color:#fff;
  background-color:hsl(0,100%,74%);
background-size:cover;
  background-blend-mode:screen;
  box-sizing:border-box;
  
  
}
.learn{
color:white;
font-weight:bolder ;
  /*line-height:1.2;*/
 /* margin-bottom:30px;*/
   
  font: 30px;
}
.topP{
  color:white;
  /*font-size:16 px;*/
}
.bottom-container{
               /*margin-top:30px;*/
               /*margin-right:auto;*/
  
                 padding: 20px;
                text-align:center;
                 border-radius:10px;
                 
                  
border:none;}
.top-container{
  height:20vh;
  margin:auto 20px;
}
.first-btm-container {
  margin-top:100px;
  margin-bottom:20px;
  border-radius:10px;
  width:100%;
  border-radius:5px;
  background-color:hsl(248,32%,49%);
     padding:20;}
.first-btm-container .white{
  color:white;
  font-weight:bolder;
  
}
.first-btm-container .small{
  color: white;
  width:100%;
  
}
form{
  border: radius 10px;;
  border:none;
  background-color:white;
  padding:10px;
  /*margin:20px auto;*/
}
button{
  width:100%;
  color:#fffffe;
  background-color:hsl(154,59%,51%);
 padding:10 20;
  border:none;
  border-radius:10px;
 font-size:10;
}
input{
  width:100%;
}
.foot,.terms{
  font-size:7px;
}
.foot{
color:hsl(246,25%,77%);


}
.foot .terms{
color:red;
font-weight:bold;

}
.inp-class{
  border-radius:5px;
  margin-top: 10px;
 /* position:relative;*/
 /* height: 40px;*/
  }
@media only screen  and (max-width:375px)
{
  html, body {
  height: 100%;
  width: 100%;}
  body{
    background-image:url(../images/bg-intro-mobile.png);
  }
  main{
    grid-template-columns:1fr;
    grid-template-rows:repeat(2, 1fr);
  }
  .topP,.learn{
    text: align center;;
  }
  .topP{
    font-size:10px;
    margin: top 20px;;
  }
  button{
    margin-top:10px;
  }
}
